<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container-fluid">

  <header>
    <%- include('../partials/nav'); %>
  </header>

  <main>
    <div class="container-fluid pt-5">
      <div class="shadow-lg p-1 mb-1 text-white bg-dark rounded-3">
        <div class="container-fluid py-1">
          <h1 class="display-5 fw-bold">Header</h1>
        </div>
      </div>
      <div class="shadow-lg p-1 m-1 bg-light rounded-3">
        <div class="container-fluid py-1">
          <h3>Sub-header</h3><hr>
          <p>content</p>
        </div>
      </div>

    </div>
  </main>
  <%- include('../partials/footer'); %>
  <%- include('../partials/pre_js'); %>

  <!-- ✅ load page-specific JS here... ✅ -->

  <%- include('../partials/post_js'); %>

</body>

</html>