<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="d-flex flex-column min-vh-100">
  <%- include('../partials/nav'); %>
  <main>
    <div class="container-fluid pt-5">
      <div class="shadow-lg p-1 mb-2 text-white bg-dark rounded-3">
        <div class="container-fluid py-1">
          <h1 class="display-5 fw-bold">API health</h1>
        </div>
      </div>
      <div class="shadow-lg p-1 mb-2 bg-light rounded-3">
        <div class="container-fluid py-1">
          <h3>Status of the API:</h3><hr>
          <pre id="api_health" class="small"></pre>
        </div>
      </div>
    </div>
  </main>

  <%- include('../partials/footer'); %>
  <%- include('../partials/pre_js'); %>
  <script>
    const apiHealth = JSON.stringify(JSON.parse('<%- apiHealth %>'), null, 2);
    $('#api_health').text(apiHealth);
  </script>
</body>

</html>